@model IEnumerable<Expense_Tracker.Models.Category>

<table class="table text-dark">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
             
               
                <td>
                    <div class="btn-group" role="group" aria-label="Action buttons">
                        <a class="btn btn-primary me-2" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
                        <a class="btn btn-info me-2" asp-action="Details" asp-route-id="@item.CategoryId">View</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </div>
                </td>





            </tr>
        }
    </tbody>
</table>
