@model IEnumerable<Expense_Tracker.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="bg-secondary bg-opacity-10 mb-3">
    <div class="container">
        <h4>Categories Management - Admin</h4>
    </div>
</div>


<div class="container  py-5 ">
    <table class="table text-light">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                   
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryId">View</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

